<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>MatshGame</title>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
<style>
body{
color:#fff;
background: #B3E5FC;
font-family: 'Source Sans Pro', sans-serif;
}
#oyun-panel{
width: 330px;
background: #03A9F4;
padding:16px;
text-align: center;
margin:auto;
}
h1{
margin:0 0 16px 0;
border:solid 1px #fff;
padding:5px;
font-weight: 300;
 
}
span{
font-size: 125%;
padding:10px;
}
#sonuc{
width: 50px;
}
#answer{
margin-top:10px;
padding:5px;
border:none;
width: 100px;
background: #0288D1;
color:#fff;
}
#answer:hover{
background: #8BC34A;
}
#dogru,#yanlis{
font-size: 150%;
margin-top:10px;
padding:10px;
display: inline-block;
}
#dogru{
background: #4CAF50;
}
#yanlis{
background: #D32F2F;
}
</style>
<body>
<div id="oyun-panel">
<h1>Matsh Game</h1>
<span id="sayi1">0</span>
<span id="opt">+</span>
<span id="sayi2">0</span>
<span>=</span>
<input type="text" id="sonuc">
<input type="button" id="answer" value="answer">
<div style="clear:both"></div>
<div id="dogru">0</div>
<div id="yanlis">0</div>
<div style="clear:both"></div>
</div>
 
<script>
 
var sayi1,sayi2,dogru=0,yanlis=0,sonuc,answer,opt;
 
//HTML nesnelerinin oluşturulması
sayi1=document.getElementById("sayi1");
sayi2=document.getElementById("sayi2");
opt=document.getElementById("opt");
sonuc=document.getElementById("sonuc");
answer=document.getElementById("answer");
dogru=document.getElementById("dogru");
yanlis=document.getElementById("yanlis");
 
//rastgele sayı üretme fonksiyonu

Math.rastgele=function(alt, ust){
let sayi=Math.random(); 
sayi=sayi*(ust-alt);
sayi=Math.floor(sayi)+alt;
 
return sayi; 
}
 
//oyun başladığında yada soru tahmin edildiğinde yeni soru sormak için kullanılır.
function yeniSoru(){
let islem=["+","-","*","/"];
opt.textContent=islem[Math.rastgele(0,4)]; //operatör seçimi
 
sayi1.textContent=Math.rastgele(0,50); 
sayi2.textContent=Math.rastgele(0,50);
if(opt.textContent=="/"){
//kalansız bölüm için eklenmiştir.
while(true){
sayi2.textContent=Math.rastgele(0,50);
if(sayi1.textContent%sayi2.textContent==0)
{break;}
}
}
 
}
 
//sayfa yüklendiğinde ilk kurulumun yapılması
window.onload=function(){
 
yeniSoru();
 
}
 
//answer butonuna basıldığında değerlendirme işlemi
answer.onclick=function(){
let cevap,s1,s2;
s1=Number(sayi1.textContent);
s2=Number(sayi2.textContent);
switch(opt.textContent){
case '+':cevap=s1+s2;break;
case "-":cevap=s1-s2;break;
case "*":cevap=s1*s2;break;
case "/":cevap=s1/s2;break;
default:break; 
}
 
if(sonuc.value==cevap){
dogru.textContent=Number(dogru.textContent)+1;
}
else{
yanlis.textContent=Number(yanlis.textContent)+1;
}
 
yeniSoru(); 
}
 
 
 
 
</script>
 
</body>
</head>
</html>